<%- include(`templates/header${headerSession}`) %> 


  <div class="p-4 mb-3  recipe-header">
    <!-- <h1 class="fst-italic"><%= recipe.name.replace("&amp;", "&") %></h1> -->
    <h1 class="fst-italic"><%= recipe.name%></h1>
  
      <div><i class="bi bi-people-fill"></i> <%= recipe.servings %> Servings</div>
  </div>
  
    <div class="tabs">
      <ul class="tab-links">
        <li><a href="#ingredients">Ingredients</a></li>
        <li><a href="#instructions">Preparation</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="ingredients" class="tab active">
          <!-- <h4 class>Ingredients:</h4>  -->
          <p class="mb-0">
            <ul>
              <% const ingredients = recipe.ingredients.split(','); %>
              <% for(let i = 0; i < ingredients.length; i++) { %>
                <% const ingredient = ingredients[i].trim().replace(/^\[|\]$/g, '').replace(/^"|"$/g, ''); %>
                <li><%= ingredient %></li>
              <% } %>
            </ul>
          </p>
        </div>
        
        <div id="instructions" class="tab">
          <!-- <h4 class="fst-italic">Instructions:</h4> -->
          <p class="mb-0">
            <ol>
              <% const steps = recipe.steps.split(','); %>
              <% for(let i=0; i < steps.length; i++) { %>
                  <% const step = steps[i].trim().replace(/^\[|\]$/g, '').replace(/^"|"$/g, ''); %>
                <% if (step) { %>
                  <li><%= step %></li>
                <% } %>
              <% } %>
            </ol>
          </p>
        </div>
        
       
      </div>
    </div>
    <script>
      // Get all the tab links and tab content elements
    const tabLinks = document.querySelectorAll('.tab-links a');
    const tabContent = document.querySelectorAll('.tab-content .tab');
    
    // Set the first tab as active by default
    tabLinks[0].classList.add('active');
    tabContent[0].style.display = 'block';
    
    // Add event listener to each tab link
    tabLinks.forEach(function(link) {
      link.addEventListener('click', function(e) {
        e.preventDefault();
        
        // Remove 'active' class from all tab links and tab content elements
        tabLinks.forEach(function(tabLink) {
          tabLink.classList.remove('active');
        });
        tabContent.forEach(function(tab) {
          tab.style.display = 'none';
        });
        
        // Add 'active' class to the clicked tab link and display the corresponding tab content
        const selectedTab = document.querySelector(link.getAttribute('href'));
        link.classList.add('active');
        selectedTab.style.display = 'block';
      });
    });
    </script>
  
  
  
  
<%- include(`templates/footer`) %>


