<%- include("templates/header") %> 

    <p>Welcome to reciAPP's homepage </p>

<% for(let i=0; i < recipe.length; i++) { %>
<div class="card shadow-sm">
    <div class="card-body">
      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <%= recipe[i].name %> </font><font style="vertical-align: inherit;"> 
        <p><%= recipe[i].description %> </p></font></font></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" onclick="location.href = '/recipes';" id="more"> Read More </font></font></button>
          <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Save</font></font></button>
        </div>
        <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <%= recipe[i].servings %> </font></font></small>
      </div>
    </div>
  </div>
<% } %> 
        

    
<%- include("templates/footer") %>