<%- include("templates/header") %> 
  <div class="text-center mb-5 mt-5">
  </div>
        <a href="/imageUpload" class="btn btn-success btn-lg d-flex justify-content-center mx-5 mb-3">
      <i class="bi bi-camera me-2"></i>Search By Image!
    </a>
    <div class="form-group mx-5">
        
      <label for="search_input">Search by recipe name or add as many ingredients as you want, separated by commas</label>
      <div class="input-group">
          <input type="text" class="form-control mb-3" id="search_input" name="q" placeholder="">
          <button type="submit" class="btn btn-success mb-3" id="">
              <i class="bi bi-search"></i>
      </div>
  </div>

<% for(let i=0; i < recipe.length; i++) { %>
  <%- include('templates/recipeCard', {recipe: recipe[i], filteredRatings: filteredRatings}) %>

<!-- <div class="card shadow-sm">
    <div class="card-body">
      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1> <%= recipe[i].name %> </h1></font><font style="vertical-align: inherit;"> 
        <p><%= recipe[i].description %> </p></font></font></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         
          <a class="btn btn-sm btn-outline-secondary" href="/recipe?id=<%= recipe[i]._id %>">Read More</a>

          <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Save</font></font></button>
        </div>
        <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <%= recipe[i].servings %> Servings</font></font></small>
      </div>
    </div>
  </div> -->
<% } %> 



<div class="pagination d-flex justify-content-center">
  <% if (currentPage > 1) { %>
    <a class="page-link" href="/search?page=<%= currentPage - 1 %>"><button class="btn btn-primary">Prev</button></a>


  <% } %>

  <% if (startPage > 1) { %>
    <a class="page-link" href="/search?q=<%= searchQuery %>&page=<%= startPage - 1 %>">...</a>
  <% } %>

  <% for (let i = 0; i < pages.length; i++) { %>
    <% if (currentPage === pages[i]) { %>
      <span class="page-link current-page active"><%= pages[i] %></span>
    <% } else { %>
      <a class="page-link" href="/search?q=<%= searchQuery %>&page=<%= pages[i] %>"><%= pages[i] %></a>
    <% } %>
  <% } %>

  <% if (currentPage < pageCount ) { %>
    <a class="page-link" href="/search?page=<%= currentPage + 1 %>"><button class="btn btn-primary">Next</button></a>

  <% } %>
</div>


<script>
  function updatePage(page) {
    const url = new URL(window.location.href);
    url.searchParams.set("page", page);
    window.location.href = url.toString();
  }

  // Function to handle click event on "Previous" button
  function goToPreviousPage() {
    const currentPage = parseInt("<%= currentPage %>");
    const searchQuery = "<%= searchQuery %>";
    if (currentPage > 1) {
      updatePage(currentPage - 1);
    }
  }

  // Function to handle click event on "Next" button
  function goToNextPage() {
    const currentPage = parseInt("<%= currentPage %>");
    const pageCount = parseInt("<%= pageCount %>");
    const searchQuery = "<%= searchQuery %>";
      updatePage(currentPage + 1);
  };
</script>



<%- include("templates/footer") %>

