<%- include(`templates/header${headerSession}`) %> 
  <div class="text-center mb-5 mt-5">
  </div>
        <a href="/imageUpload" class="btn btn-success btn-lg d-flex justify-content-center mx-5 mb-3">
      <i class="bi bi-camera me-2"></i>Search By Image!
    </a>
    <form class="form-inline my-5 mx-5" action="/search" method="GET">
      <div class="form-group">
        
            <label for="search_input">Search by recipe name or add as many ingredients as you want, separated by commas</label>
            <div class="input-group">
                <input type="text" class="form-control mb-3" id="search_input" value="<%- searchQuery %>" name="q" placeholder="">
                <button type="submit" class="btn btn-success mb-3" id="">
                    <i class="bi bi-search"></i>
                    </button>
            </div>

            

            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Filters</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Filters</h5>
    <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="bi bi-caret-left" id="filter-caret"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <h3 class="mt-3">Meal:</h3>
    <% for (const category of meal) { %>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="<%= category %>" name="m" value="<%= category %>"
          <% if (selectedCategories && selectedCategories.includes(category)) { %>
            checked
          <% } %>
        
        <label class="form-check-label" for="<%= category %>"><%= category %></label>
      </div>
          <% } %>

          <h3 class="mt-3">Cuisine:</h3>
          <% for (const category of cuisine) { %>
           
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="<%= category %>" name="c" value="<%= category %>"
                <% if (selectedCategories && selectedCategories.includes(category)) { %>
                  checked
                <% } %>
              
              <label class="form-check-label" for="<%= category %>"><%= category %></label>
            </div>
                <% } %>

                <h3 class="mt-3">Diet Type:</h3>
                <% for (const category of dietType) { %>
                  
                  <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="<%= category %>" name="d" value="<%= category %>"
                      <% if (selectedCategories && selectedCategories.includes(category)) { %>
                        checked
                      <% } %>
                    
                    <label class="form-check-label" for="<%= category %>"><%= category %></label>
                  </div>
                      <% } %>
        </div>
</div>
        

            

              
                 
            

    
      

        </div>
    </form><div id="aiRecipeButton-box"></div>
    <!-- Inside the <div class="text-center mb-5 mt-5"> -->


<div class="text-center mx-5" id="recipeNumber">
  <h3>You can make <%- (pageCount * 20) %> recipes!</h3>
</div>
    

<% for(let i=0; i < recipe.length; i++) { %>
  <%- include('templates/recipeCard', {recipe: recipe[i], filteredRatings: filteredRatings}) %>
<% } %> 



<div class="pagination d-flex justify-content-center">
  <% if (currentPage > 1) { %>
    <a class="page-link" href="/search?q=<%- searchQuery %>&page=<%= currentPage - 1 %>&s=<%= Array.isArray(selectedCategories) ? selectedCategories.join(',') : '' %>">
      <button class="btn btn-primary">Prev</button>
    </a>
  <% } %>

  <% if (startPage > 1) { %>
    <a class="page-link" href="/search?q=<%- searchQuery %>&page=<%= startPage - 1 %>&s=<%= Array.isArray(selectedCategories) ? selectedCategories.join(',') : '' %>">...</a>
  <% } %>

  <% for (let i = 0; i < pages.length; i++) { %>
    <% if (currentPage === pages[i]) { %>
      <span class="page-link current-page active"><%= pages[i] %></span>
    <% } else { %>
      <a class="page-link" href="/search?q=<%- searchQuery %>&page=<%= pages[i] %>&s=<%= Array.isArray(selectedCategories) ? selectedCategories.join(',') : '' %>"><%= pages[i] %></a>
    <% } %>
  <% } %>

  <% if (currentPage < pageCount) { %>
    <a class="page-link" href="/search?q=<%- searchQuery %>&page=<%= currentPage + 1 %>&s=<%= Array.isArray(selectedCategories) ? selectedCategories.join(',') : '' %>">
      <button class="btn btn-primary">Next</button>
    </a>
  <% } %>
</div>


<script>
    // add Custom with AI button
    const AIRecipeButton = document.createElement("link");
    AIRecipeButton.className = "btn btn-success btn-lg d-flex justify-content-center mx-5 mb-3";
    AIRecipeButton.innerHTML = "Get AI Custom Recipe... ";
    document.getElementById("aiRecipeButton-box").appendChild(AIRecipeButton);
  console.log("script loaded");
        // add event listener to send GET request with ingredients array
        AIRecipeButton.addEventListener("click", function() {
          console.log("clicked");
        let ingredientsString = document.getElementById("search_input").value;
       console.log(ingredientsString);
       let url = "/waitingRoom/?q=" + ingredientsString;
        console.log(url);
       window.location.href = url;
    });
</script>



<%- include("templates/footer") %>

