<%- include("templates/header") %> 
  <div class="text-center mb-5 mt-5">
  </div>
        <a href="/imageUpload" class="btn btn-success btn-lg d-flex justify-content-center mx-5 mb-3">
      <i class="bi bi-camera me-2"></i>Search By Image!
    </a>
    <form class="form-inline my-5 mx-5" action="/search" method="GET">
      <div class="form-group">
        
            <label for="search_input">Search by recipe name or add as many ingredients as you want, separated by commas</label>
            <div class="input-group">
                <input type="text" class="form-control mb-3" id="search_input" value="<%- searchQuery %>" name="q" placeholder="">
                <button type="submit" class="btn btn-success mb-3" id="">
                    <i class="bi bi-search"></i>
            </div>

            

            <!-- <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Check this to sort by fewest ingredients</label>
            </div> -->
            
        

            <h4>Filters:</h4>
              <% for (const category of availableOptions) { %>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="<%= category %>" name="s" value="<%= category %>"
                    <% if (selectedCategories && selectedCategories.includes(category)) { %>
                      checked
                    <% } %>
                  >
                  <label class="form-check-label" for="<%= category %>"><%= category %></label>
                </div>
                    <% } %>

              
                 
            

    
      

        </div>
    </form><div id="aiRecipeButton-box"></div>
    <!-- Inside the <div class="text-center mb-5 mt-5"> -->

<!-- Add more checkboxes for other categories as needed -->


    
    

<% for(let i=0; i < recipe.length; i++) { %>
  <%- include('templates/recipeCard', {recipe: recipe[i], filteredRatings: filteredRatings}) %>

<!-- <div class="card shadow-sm">
    <div class="card-body">
      <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><h1> <%= recipe[i].name %> </h1></font><font style="vertical-align: inherit;"> 
        <p><%= recipe[i].description %> </p></font></font></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
         
          <a class="btn btn-sm btn-outline-secondary" href="/recipe?id=<%= recipe[i]._id %>">Read More</a>

          <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Save</font></font></button>
        </div>
        <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> <%= recipe[i].servings %> Servings</font></font></small>
      </div>
    </div>
  </div> -->
<% } %> 



<div class="pagination d-flex justify-content-center">
  <% if (currentPage > 1) { %>
    <a class="page-link" href="/search?page=<%= currentPage - 1 %>"><button class="btn btn-primary">Prev</button></a>


  <% } %>

  <% if (startPage > 1) { %>
    <a class="page-link" href="/search?q=<%= searchQuery %>&page=<%= startPage - 1 %>">...</a>
  <% } %>

  <% for (let i = 0; i < pages.length; i++) { %>
    <% if (currentPage === pages[i]) { %>
      <span class="page-link current-page active"><%= pages[i] %></span>
    <% } else { %>
      <a class="page-link" href="/search?q=<%= searchQuery %>&page=<%= pages[i] %>"><%= pages[i] %></a>
    <% } %>
  <% } %>

  <% if (currentPage < pageCount ) { %>
    <a class="page-link" href="/search?page=<%= currentPage + 1 %>"><button class="btn btn-primary">Next</button></a>

  <% } %>
</div>


<script>
    // add Custom with AI button
    const AIRecipeButton = document.createElement("link");
    AIRecipeButton.className = "btn btn-success btn-lg d-flex justify-content-center mx-5 mb-3";
    AIRecipeButton.innerHTML = "Get AI Custom Recipe... ";
    document.getElementById("aiRecipeButton-box").appendChild(AIRecipeButton);
  console.log("script loaded");
        // add event listener to send GET request with ingredients array
        AIRecipeButton.addEventListener("click", function() {
          console.log("clicked");
        let ingredientsString = document.getElementById("search_input").value;
       console.log(ingredientsString);
       let url = "/waitingRoom/?q=" + ingredientsString;
        console.log(url);
       window.location.href = url;
    });

  function updatePage(page) {
    const url = new URL(window.location.href);
    url.searchParams.set("page", page);
    window.location.href = url.toString();
  }

  // Function to handle click event on "Previous" button
  function goToPreviousPage() {
    const currentPage = parseInt("<%= currentPage %>");
    const searchQuery = "<%= searchQuery %>";
    if (currentPage > 1) {
      updatePage(currentPage - 1);
    }
  }

  // Function to handle click event on "Next" button
  function goToNextPage() {
    const currentPage = parseInt("<%= currentPage %>");
    const pageCount = parseInt("<%= pageCount %>");
    const searchQuery = "<%= searchQuery %>";
      updatePage(currentPage + 1);
  };

  // Function to handle checkbox clicks and update the search query
// function updateSearchQuery() {
//   const checkboxes = document.querySelectorAll('input[type="checkbox"]');
//   const checkedCategories = Array.from(checkboxes)
//     .filter(checkbox => checkbox.checked)
//     .map(checkbox => checkbox.value);

//   const searchInput = document.getElementById('search_input');
//   const currentSearchQuery = searchInput.value.trim();
//   const updatedSearchQuery = checkedCategories.join(',') + (currentSearchQuery ? ',' + currentSearchQuery : '');

//   searchInput.value = updatedSearchQuery;
// }

// Attach click event listeners to checkboxes
// const checkboxes = document.querySelectorAll('input[type="checkbox"]');
// checkboxes.forEach(checkbox => {
//   checkbox.addEventListener('change', updateSearchQuery);
// });




</script>



<%- include("templates/footer") %>

